.stepItemContainer {
  display: flex;
  gap: 30px;

  & .imageContainer {
    width: 300px;
    border-radius: 16px;
  }

  & .textContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 50px;
    align-self: center;
  }
}
