PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=iosstore
DATABASE_PASSWORD=iosstore
DATABASE_NAME=iosstore

JWT_SECRET=
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173

S3_ENDPOINT=https://s3.twcstorage.ru
S3_REGION=ru-1
S3_BUCKET=07855737-bf11-4495-b68f-458e547579ac
S3_ACCESS_KEY=2A6ZHX5QMZ540X5W9LY4
S3_SECRET_KEY=BmfjxhnxIpMsBYgDmmTnZsSZVeYTVRru36pbG8Uy