.headerProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .content {
    display: flex;
    gap: 20px;

    & .textContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
