.phoneTagContainer {
  display: flex;
  width: fit-content;
  background: #fff;
  border-radius: 16px;
  gap: 15px;
  padding: 12px 16px 12px 12px;
  text-decoration: none;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .icon {
    // path {
    stroke: red;
    // }
  }

  & .iconContainer {
    background: #fff;
    width: 40px;
    height: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .textContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
