@font-face {
  font-family: 'SF-Pro';
  src: url('../../../public/fonts/SF-Pro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-feature-settings:
    'dlig' on,
    'salt' on,
    'ss01' on,
    'ss02' on;
  font-variant-numeric: ordinal;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('../../../public/fonts/SF-Pro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-feature-settings:
    'dlig' on,
    'salt' on,
    'ss01' on,
    'ss02' on;
  font-variant-numeric: ordinal;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('../../../public/fonts/SF-Pro-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-feature-settings:
    'dlig' on,
    'salt' on,
    'ss01' on,
    'ss02' on;
  font-variant-numeric: ordinal;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('../../../public/fonts/SF-Pro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-feature-settings:
    'dlig' on,
    'salt' on,
    'ss01' on,
    'ss02' on;
  font-variant-numeric: ordinal;
}
